@import-normalize;
@import "./variables.scss";

* {
  box-sizing: border-box;
  font-family: $main-font;
}

body {
  margin: 0;
  padding: 0;
  background-color: $white-color;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.slick-track {
	display: flex;
	align-items: center;
}

