// Colors
$main-color: #1e1a20;
$black-color: #000000;
$white-color: #ffffff;
$title-color: #222433;
$placeholder-color: #807c7c;
$footer-color: #333333;
$main-bg-color: #e5e5e5;
$hero-bg-color: #f7f3f4;
$slider-bg-color: #FFBD9E;
$btn-color:#F2726C;

// Font
$main-font:'Poppins', sans-serif;